@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  @page {
    margin: 0; /* Remove as margens padrão do navegador */
  }

  body {
    margin: 0;
    padding: 20px;
  }

  /* Oculta elementos específicos, como botões */
  .no-print {
    display: none;
  }
}